

body {
    background-color: rgb(54, 54, 54);
}

h1{
    font-size: 100px;
    margin-top: 150px;
}
hr{
    margin-left: 10%;
    margin-right: 10%;
}
h2{
    margin-left: 10%;
    color: white;
}
#enter{
    margin-left: 40%;
    padding: 20px 100px;
    font-size: 30px;
}